.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: #363b52;
}

.container {
  margin-top: 1rem;
  padding: 2rem 1rem;
}

.heading {
  color: #fff;
  text-align: left;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .heading {
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
}


